{{ partial "header.html" . }}

<div class="list-wrapper full">
  
  <section id="projects">
  
    <h2 class="projects">Projects</h2>
  
    <div class="project-wrapper">
  
      {{ range where .Data.Pages "Section" "project" }}
      
        <div class="project">
  
          <div class="project-img">
            <a href="{{ .Permalink }}">{{ with .Params.featured_image }}<img src="{{ . }}"></a>{{ end }}
          </div>

          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

          {{ with .Params.snippet }}<p>{{ . }}</p>{{ end }}

        </div>
      
        {{ end }}
  
  </div>

  </section>
  
</div>

<div class="pagination">
  
  {{ if .Paginator.HasPrev }}
  <a class="prev" href="{{ .Paginator.Prev.URL }}">Previous</a>
  {{ end }}

  {{ if .Paginator.HasNext }}
  <a class ="next" href="{{ .Paginator.Next.URL }}">Next</a>
  {{ end }}

</div>
  
{{ partial "footer.html" . }}