@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Molengo');

body {
    color: #292f36;
    font-family: 'Molengo', Helvetica, Arial, Sans-Serif;
    font-size: 1.15em;
    margin: 0px auto;
    background: #ffffff;
}

div, img, section, header, footer, nav {
    max-width: 100%;
    box-sizing: border-box;
}

p {
    line-height: 2;
}

a {
    color: #368293;
    text-decoration: none;
}

a:hover {
    color: #f06543;
    text-decoration: underline;
}

/* HEADINGS */

h1 {
    color: #ffffff;
    font-family: 'Pattaya', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 0px;
}

h2 {
    color: #f06543;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;    
    font-size: 2em;
    text-align: center;
    margin: 0px;
}

h3 {
    font-size: 1.3em;
}

/* CONTAINER */

#container {
    max-width: 70%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
}

/* HEADER: TITLE */

header {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background: #f06543;
}

.header-content {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
}

@media screen and (max-width:520px) {
    .title {
        display: inline-block;
        text-align: center;
        margin: 0px auto;
    }
}

@media screen and (min-width:521px) {
    .title {
        text-align: center;
    }
}

/* NAVIGATION */

nav {
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 5px;
    background: #292f36;
}

nav ul {
    padding: 0px;
}

nav li {
    padding: 5px;
    margin: 0px;
    list-style: none;
    float: left;
}

nav li a {
    padding: 10px;
    color: #ffffff;
}

nav li a:hover {
    text-decoration: none;
    background: #ffffff;
}

/* MAX WIDTH 560PX */

@media screen and (max-width:560px) {
    nav {
        justify-content: center;
    }
}

/* ABOUT */

.about-wrapper {
    width: 100%;
    margin: 50px 0px 50px 0px;
    padding: 30px;
    background: #e8e9eb;
    box-shadow: 5px 5px 5px #d5d5d5;
}

.photo {
    padding: 0px;
    margin-right: 20px;
    float: left;
}

.photo img {
    max-height: 150px;
    max-width: 150px; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: solid 5px #ffffff;
    margin-top: 20px;
}

/* MAX WIDTH 900PX */

@media screen and (max-width:900px) {
    .photo {
        width: 100%;
        text-align: center;
    }

}

/* PROJECTS */

.project-wrapper {
    display: flex;
    flex-flow: wrap;
    margin: 0px auto;
}

.project {
   width: 33%;
   padding: 20px;
   margin: 20px;
   text-align: left;
   background: #e8e9eb;
   box-shadow: 5px 5px 5px #d5d5d5;
   box-sizing: border-box;
}

.project-img {
    padding: 0px;
    margin: 0px auto;
}

.project a {
    overflow-wrap: break-word;
}

/* MAX WIDTH 500PX */

@media screen and (max-width:900px) {
    .project {
        width: 100%;
        display: block;
        margin-right: 0px;
    }
    .project-img {
        text-align: center;
    }
}

/* MIN WIDTH 830PX */

@media screen and (min-width:901px) {
    .project {
        width: 45%;
        float: left;
    }
}

/* FOOTER */

footer {
    text-align: center;
}
