/*
 * #12151c - dark
 * #f8f8f2 - white
 * #ff79c6 - dark pink
 * #f6b4da - light pink
 * #fde482 - yellow
 * #b2ecce - green
 * #e9d5be - brown
 */

@font-face {
    font-family: Fira;
    src: url('/fonts/FiraCode-VF.ttf');
}

body {
    color: #f8f8f2;
    font-family: 'Fira';
    font-size: 0.9em;
    margin: 0px auto;
    background: #12151c;
    line-height: 1.7em;
}

div, img, section, header, footer, nav {
    max-width: 100%;
    box-sizing: border-box;
}

figure {
    max-width: 100%;
    margin: 0px;
}

blockquote {
    font-style: italic;
    padding: 0px 0px 0px 20px;
    border-left: 3px solid #092d42; 
}

pre {
    overflow: auto;
}

p, li {
    line-height: 1.8;
}

a {
    color: #f6b4da;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

a:hover {
    color: #ff79c6;
}

/* FORMS */

button, input, select, textarea {
    font-size: 100%;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 0px;
    padding: 10px;
    -webkit-appearance: none;
}

button {
    background: #8be9fd;
    color: #ffffff;
    font-weight: bold;
}

button:hover {
    background: #893746;
}

input, select, textarea {
    background: #e8e9eb;
}

label {
    font-weight: bold;
}

form {
    margin: 0px auto;
    width: 60%;
}

/* HEADINGS */

h1 {
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}


h1 a:link, h1 a:visited, h1 a:hover {
    color: #ffffff;
    text-decoration: none;
}

h1 a:hover {
    border-bottom: #bfbfbf dashed 1px;
}

h2, h2 a:link, h2 a:visited, h2 a:hover {
    color: #fde482;
    text-align: left;
    text-decoration: none;
    margin: 20px 0px 0px 0px;
}

h3 {
    color: #bad7c8;
    text-align: left;
}

figcaption h4 {
    font-size: 1.0em !important;
    font-weight: bold!important;
    color: #092d42 !important;
    text-align: center;
    margin: 0px 0px 10px !important;
}
 
/* CONTAINER */

#container {
    max-width: 70%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
}

.full {
    width: 100%;
}

@media screen and (max-width:1000px) {
    #container {
        max-width: 100%;
    }
}

/* TAGS */

.tags {
    margin: 20px auto;
}

/* HEADER: TITLE */

header {
    display: block;
    width: 100%;
    padding: 20px 20px;
    margin: 0px auto;
}

.header-content {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

/* NAVIGATION */

nav {
    display: block;
    width: 100%;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    text-align: center;
    padding: 0px 5px;
    margin: 0px auto;
    text-transform: lowercase;
} 

nav ul {
    padding: 10px;
    margin: 0px auto;
}

nav li {
    padding: 15px;
    margin: 0px auto;
    list-style: none;
    display: inline-block;
}

/* ABOUT */

.about-wrapper {
    width: 100%;
}

.about-wrapper::after {
    clear: both;
    content: " ";
    display: table;
}

.photo {
    padding: 0px;
    margin-right: 20px;
    float: left;
    height: 100%;
}

.photo img {
    max-height: 150px;
    max-width: 150px; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: solid 5px #ffffff;
    margin-top: 0px;
}

.about {
    height: 100%;
}

/* MAX WIDTH 900PX */

@media screen and (max-width:900px) {
    .photo {
        width: 100%;
        text-align: center;
    }

}

/* CONTACT */

.contact-form {
    margin: 10px auto;
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.social-media ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

.social-media li {
    float: left;
}

.social-media li a {
    display: block;
    width: 60px;
    font-size: 2.5em;
    text-align: center;
}

.social-media li a:hover {
    color: #ffffff;
}

/* LIST */

.list-wrapper {
    width: 90%;
    padding: 10px;
    margin: 0px auto;
}

.article {
    padding-top: 15px;
}

.list-wrapper img {
    display: block;
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
}

.pagination {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
}

.prev, .next {
    padding: 10px;
    background: #f6b4da;
    color: #12151c;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #893746;
}

.prev:hover, .next:hover {
    background: #f8f8f2;
    color: #12151c;
    border: 1px solid #12151c;
}

.prev {
    display: block;
    float: left;
}

.next {
    display: block;
    float: right;
}

/* BLOG */

.blog-wrapper {
    width: 70%;
    margin: 0px auto;
}

.blog-wrapper .list-wrapper {
    width: 95%;
}

/* FOOTER */

footer {
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}
