{{ partial "header.html" . }}

<div class="blog-wrapper">

  <div class="list-wrapper">

    <article>
      <div class="article">

        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <h3>{{ .Date.Format "Jan 2, 2006" }}</a></h3>

        {{ .Content }}

        <div class="tags">
          <strong>Category:</strong> 
          {{ range.Params.categories }}
          <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>           
          {{ end }}

          <br />

          <strong>Tags:</strong> 
          {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
          {{ end }}
        </div>
    
      </div>
    </article>

  </div>

</div>

{{ partial "footer.html" . }}
