@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Molengo');

body {
    color: #292f36;
    font-family: 'Molengo', Helvetica, Arial, Sans-Serif;
    font-size: 1.15em;
    margin: 0px auto;
    background: #ffffff;
}

div, img, section, header, footer, nav {
    max-width: 100%;
    box-sizing: border-box;
}

figure {
    max-width: 100%;
    margin: 0px;
}

blockquote {
    color: #646464;
    font-style: italic;
    padding: 0px 0px 0px 20px;
    border-left: 3px solid #f06543; 
}

pre {
    overflow: auto;
}

p, li {
    line-height: 2;
}

a {
    color: #368293;
    text-decoration: none;
}

a:hover {
    color: #f06543;
    text-decoration: underline;
}

/* FORMS */

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 0px;
    padding: 10px;
    -webkit-appearance: none;
}

button {
    background: #f06543;
    color: #ffffff;
    font-weight: bold;
}

button:hover {
    background: #368293;
}

input, select, textarea {
    background: #e8e9eb;
}

label {
    font-weight: bold;
}

form {
    margin: 0px auto;
    width: 60%;
}

/* HEADINGS */

h1 {
    color: #ffffff;
    font-family: 'Pattaya', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
}


h1 a:link, h1 a:visited, h1 a:hover {
    color: #ffffff;
}

.subtitle {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 0px;
}

h2, .project-page-wrapper h1 {
    color: #f06543;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;    
    font-size: 2em;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

h3, .project-page-wrapper h2, .project h3 {
    color: #f06543;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    text-align: left;
}

.project-page-wrapper h3, .project-page-wrapper h4, .project-page-wrapper h5 {
    color: #368293;    
}

.project-page-wrapper h3 {
    font-size: 1.5em;
}

.project-page-wrapper h4 {
    font-size: 1.3em;
}

.project-page-wrapper h5 {
    font-size: 1.0em;
}

figcaption h4 {
    font-size: 1.0em !important;
    font-weight: bold!important;
    color: #292f36 !important;
    margin: 0px !important;
}
 
/* CONTAINER */

#container {
    max-width: 70%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
}

.full {
    width: 100%;
}

@media screen and (max-width:1000px) {
    #container {
        max-width: 100%;
    }
}

/* HEADER: TITLE */

header {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background: #f06543;
}

.header-content {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
}

@media screen and (max-width:520px) {
    .title {
        display: inline-block;
        text-align: center;
        margin: 0px auto;
    }
}

@media screen and (min-width:521px) {
    .title {
        text-align: center;
    }
}

/* NAVIGATION */

nav {
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 5px;
    background: #292f36;
}

nav ul {
    padding: 0px;
}

nav li {
    padding: 5px;
    margin: 0px;
    list-style: none;
    float: left;
}

nav li a {
    padding: 10px;
    color: #ffffff;
}

nav li a:hover {
    text-decoration: none;
    background: #ffffff;
}

/* MAX WIDTH 560PX */

@media screen and (max-width:560px) {
    nav {
        justify-content: center;
    }
}

/* ABOUT */

.about-wrapper {
    width: 100%;
    margin: 50px 0px 50px 0px;
    padding: 30px;
    background: #e8e9eb;
    box-shadow: 5px 5px 5px #d5d5d5;
}

.about-wrapper::after {
    clear: both;
    content: " ";
    display: table;
}

.photo {
    padding: 0px;
    margin-right: 20px;
    float: left;
    height: 100%;
}

.photo img {
    max-height: 150px;
    max-width: 150px; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: solid 5px #ffffff;
    margin-top: 0px;
}

.about {
    height: 100%;
}

/* MAX WIDTH 900PX */

@media screen and (max-width:900px) {
    .photo {
        width: 100%;
        text-align: center;
    }

}

/* PROJECTS */

.project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0px auto;
}

.project {
   width: 33%;
   padding: 20px;
   text-align: left;
   background: #e8e9eb;
   margin-top: 20px;
   margin-bottom: 20px;
   box-shadow: 5px 5px 5px #d5d5d5;
   box-sizing: border-box;
}

.project-img {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
}

.project a {
    overflow-wrap: break-word;
}

/* MAX WIDTH 500PX */

@media screen and (max-width:1150px) {
    .project {
        width: 100%;
        display: block;
    }
    .project-img {
        text-align: center;
    }
}

/* MIN WIDTH 830PX */

@media screen and (min-width:1151px) {
    .project {
        width: 49%;
        float: left;
    }
}

/* CONTACT */

.contact-form {
    margin: 10px auto;
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.social-media ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

.social-media li {
    float: left;
}

.social-media li a {
    display: block;
    width: 60px;
    font-size: 2.5em;
    text-align: center;
}

.social-media li a:hover {
    background: #f06543;
    color: #ffffff;
}

/* PROJECT PAGE, LIST, BLOG */

.project-page-wrapper, .list-wrapper, .blog-sidebar {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
}

/* LIST */

.article {
    margin-bottom: 30px;
}

.list-wrapper h3 {
    font-size: 1.7em;
    margin: 0px;
    padding: 0px;
}

.list-wrapper h4 {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 0px;
}

.list-wrapper img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
}

.pagination {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
}

.prev, .next {
    padding: 10px;
    background: #368293;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #368293;
}

.prev:hover, .next:hover {
    background: #ffffff;
    color: #368293;
    border: 1px solid #368293;
}

.prev {
    display: block;
    float: left;
}

.next {
    display: block;
    float: right;
}

/* BLOG */

.blog-wrapper {
    width: 70%;
    float: right;
    margin: 0px;
}

.blog-wrapper .list-wrapper {
    width: 95%;
}

/* SIDEBAR */

.blog-sidebar {
    width: 30%;
    float: left;
    margin: 0px;
}

.blog-sidebar h2 {
    text-align: left;
    margin: 20px 0px 0px 0px;
}

.blog-sidebar .about-wrapper {
    width: 100%;
    margin-top: 10px;
}

.blog-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blogroll li a {
    display: block;
    width: 100%;
    background: #f06543;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
}

.blogroll li a:hover {
    background: #368293;
}

/* MAX 1100PX */

@media screen and (max-width:1100px) {
    .blog-wrapper {
        display: block;
        float: none;
        width: 100%;
    }

    .blog-sidebar {
        display: block;
        float: none;
        width: 100%;
    }
}

/* TAGS, CATEGORIES */

.tags {
    font-size: 0.8em;
    clear: both;
    overflow: auto;
    padding: 4px;
}

.tags ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

.tags li {
    margin: 10px 5px 5px 5px;
    display: block;
    float: left;
}

.tags li a {
    background: #f06543;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f06543;
}

.tags li a:hover {
    background: #ffffff;
    color: #f06543;
    border: 1px solid #f06543;
}

/* FOOTER */

footer {
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: #292f36;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}
