<!DOCTYPE html>

<html>

    <head>
        <title>Edel Grace | Portfolio</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>

        <nav>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <header>
          <div class="header-content">

            <div class="title">
                <h1>Edel Grace</h1>
                <span class="subtitle">Aspiring programmer</span>
            </div>

            <div class="photo">
                <img src="http://res.cloudinary.com/dvozrk6m8/image/upload/v1512463955/edel-altares_jcufrn.png" alt="A photo of me" />
            </div>

          </div>
        </header>

        <div id="container">