<!DOCTYPE html>

<html>

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89787234-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-89787234-1');
        </script>

        <title>erzadel.net | {{ .Title }}</title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://use.fontawesome.com/b9d12b39d9.js"></script>
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    </head>

    <body>

        <nav>
            <ul>
                {{ if or (eq (.Section) "blog") (eq (.Type) "archive") }}
                <li><a href="/blog">Home</a></li>
                <li><a href="/archive">Archive</a></li>
                {{ else }}
                <li><a href="/">Home</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/#contact">Contact</a></li>
                {{ end }}
            </ul>
        </nav>

        <header>
          <div class="header-content">

            <div class="title">
                <h1><a href="/{{ if or (eq (.Section) "blog") (eq (.Type) "archive") }}blog{{ end }}">erzadel.net</a></h1>
                <span class="subtitle">Programmer, Developer, Enthusiast</span>
            </div>

          </div>
        </header>

        <div id="container">