<div class="blog-sidebar">

  <h2>About</h2>

  <section id="about">
  
    <div class="about-wrapper">
  
      <div class="photo">
        <img src="http://res.cloudinary.com/dvozrk6m8/image/upload/v1512463955/edel-altares_jcufrn.png" alt="A photo of me" />
      </div>    

      <div class="about">
        
        <p>My name is <b>Edel Grace Altares</b>. I am a <b>Computer Science</b> student at the <b>University of Calgary</b> and I expect to graduate in April 2018. My programming interests include <b>full stack development</b> and <b>back end development</b>. My languages of choice are <b>Python</b> and <b>Java</b>. Outside of programming I enjoy crocheting, video games, cats, historical fiction, and reading.</p>
      </div>
    
    </div>
  
  </section>
    
</div>