<div class="blog-sidebar">

  <h2>About</h2>

  <section id="about">
  
    <div class="about-wrapper">
  
      <div class="photo">
        <img src="{{ $.Site.Params.avatar }}" alt="A photo of me" />
      </div>    

      <div class="about">
        
        <p>{{ $.Site.Params.description | markdownify }} </p>

      </div>
    
    </div>
  
  </section>    

  <h2>Categories</h2>

  {{ $categories := $.Site.Taxonomies.categories.ByCount }}

  <ul>

    {{ range $categories}}

    {{ if .Term }}

    <li><a href="/tags/{{ .Term }}">{{ .Term }}</a></li>

    {{ end }}

    {{ end }}
      
  </ul>

  <h2>Archives</h2>
  
  {{ with .Site.GetPage "section" "blog" }}

  <ul>

  {{ range .Data.Pages.GroupByDate "Jan-2006" }}
    <li><a href="/archive/#{{ .Key }}">{{ .Key }}</a></li>

  {{ end }}

  </ul>

  {{ end }}

</div>