<div class="blog-sidebar">

  <h3>About</h3>

  <section id="about">
  
    <div class="about-wrapper">

      <div class="about">
        
        <p>{{ markdownify $.Site.Params.description }} </p>

        <div class="social-media">
          <ul>
            <li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
            <li><a href="https://github.com/edelgrace"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.ravelry.com/people/erzadel"><i class="fa fa-ravelry"></i></a></li>
            <li><a rel="me" href="https://fosstodon.org/@edel"><i class="fab fa-mastodon"></i></a></li>
          </ul>
        </div>
      </div>
    
    </div>
  
  </section>    

  <h3>Categories</h3>

  {{ $categories := $.Site.Taxonomies.categories.Alphabetical }}

  <ul>

    {{ range $categories}}

    {{ if .Term }}

    <li><a href="/categories/{{ .Term }}">{{ .Term }}</a></li>

    {{ end }}

    {{ end }}
      
  </ul>

  <h3>Archives</h3>
  
  {{ with .Site.GetPage "section" "blog" }}

  <select id="archives">

  {{ range .Data.Pages.GroupByDate "Jan-2006" }}
    <option value="/archive/#{{ .Key }}">{{ .Key }}</option>

  {{ end }}

  </select>

  {{ end }}

  <button id="go" onclick="archives()">Go</button>

  <h3>Blogroll</h3>

  <ul class="blogroll">
    <li><a href="https://fadedout.com">Kim</a></li>
    <li><a href="https://violinstar.net">Sakura</a></li>
    <li><a href="http://janepedia.com/">Jane</a></li>
  </ul>

  <h3>Misc</h3>
  <a href="http://daughter-of-anubis.pw/bookworms/">
    <img src="https://res.cloudinary.com/dvozrk6m8/image/upload/v1551418094/book14_80x15_fndzgz.png" alt="I'm a bookworm" />
  </a>

  <a href="http://bloglist.me">
    <img src="https://res.cloudinary.com/dvozrk6m8/image/upload/v1560008659/blm3_plvtep.png" />
  </a>

</div>
