{{ partial "header.html" . }}

<div class="blog-wrapper">
  <div class="list-wrapper">
    {{ range where (.Paginator 20).Pages "Section" "blog" }}
    <div class="article">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <h3>{{ .Date.Format "2006-01-02" }}</h3>
    </div>

    {{ end }}
  </div>

  <div class="pagination">
    
    {{ if .Paginator.HasPrev }}
    <a class="prev" href="{{ .Paginator.Prev.URL }}">Newer</a>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a class ="next" href="{{ .Paginator.Next.URL }}">Older</a>
    {{ end }}

  </div>
</div>  

{{ partial "footer.html" . }}
