{{ partial "header.html" . }}

<!-- ABOUT -->

<section id="about">

  <div class="about-wrapper">

    <h2>About</h2>
    
      <div class="photo">
        <img src="http://res.cloudinary.com/dvozrk6m8/image/upload/v1512463955/edel-altares_jcufrn.png" alt="A photo of me" />
      </div>    

      <div class="about">
        <p>My name is <b>Edel Grace Altares</b>. I am a soon to be <b>Computer Science</b> graduate from the <b>University of Calgary</b>. My programming interests include <b>full stack development</b> and <b>Android development</b>. My languages of choice are <b>Python</b> and <b>Java</b>. Outside of programming I enjoy crocheting, video games, and reading.</p>
      </div>
    
  </div>

</section>


<!-- PROJECTS -->

<section id="projects">

  <div class="project-wrapper">

    <h2 class="project">Projects</h2>

    {{ range where .Data.Pages "Section" "project" }}
    
      <div class="project">

          <div class="project-img">
              {{ with .Params.featured_image }}<a href="{{ .Permalink }}"><img src="{{ . }}"></a>{{ end }}
          </div>

          <h3>{{ .Title }}</h3>

      </div>
    
      {{ end }}

  </div>


</section>


{{ partial "footer.html" . }}